.heading
{ 
 font-size: 23px;
 width: 100%;
 margin: 0px;
 box-sizing:5px 5px 5px grey;
}
.heading_div
{ 
 float: none;
 background: white;
 padding: 10px;
 border-radius: 20px;
 color: black;
 box-sizing:5px 5px 5px grey;
}
.heading_div2
{ 
 font-size: 18;
}
.result_para_tag
{ 
 font-size: none;
 box-shadow:5px 5px 5px grey;
}
.copy_right_footer 
{ position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);  
  line-height: 3;
  text-align: center;
}
canvas  
{ border: 20px;
  border-radius: 20px;
  box-shadow:5px 5px 5px grey;
  margin-top: 150px;
}









































































































































